@font-face {
    font-family: courierstuck;
    src: url("fonts/courierstuck.ttf");
}

p, a {
    font-family: Verdana;
}

a {
    font-weight: bold;
}

#ncurrent {
    color: lightgrey;
}

#nav1 {
    color: orangered
}

#nav2 {
    color: greenyellow
}

#nav3 {
    color: dodgerblue
}

#nav4 {
    color: pink
}

#nav5 {
    color: goldenrod
}

.bg-fantastic {
    background-image: url("media/FANTASTIC WEBSITE.gif");
}

.front {
    width: 80%;
    background-color: lightgray;
    justify-self: center;
    position:  relative;
    height: 100%;
    top: -10px;
}

.stuck {
    font-family: courierstuck;
    font-size: 2em;
}

.center {
    justify-self: center;
    text-align: center;
}

#rpa {
    color: pink;
    text-shadow: 6px 6px 0px dimgray;
}

.title {
    font-size: 6em;
}

.subtitle {
    font-size: 1em;
    color: gray;
}

.nav {
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: space-evenly;
    position:sticky;
    top: 0;
}